body {
  padding: 1px 1px 10px 1px;
}

.container {
  align-content: flex-start;
  padding: 0px;
  max-width: 100%;
  display: flex;
}
.container__image {
  margin: 0px 35px 0 10px;
  width: 270px;
  -o-object-fit: contain;
  object-fit: contain;
  align-self: flex-start;
}
.container__text {
  flex: 1 1 auto;
  padding-top: 20px;
}
.card-body{
  padding: 5px 5px 5px 20px;
}

hr {
  margin-bottom: 5px;
  margin-top: 0;
  background-color:darkgreen;
}

.card-header {
  background-color:rgb(243, 235, 235);
}