{% extends "auctions/layout.html" %}
{% block body %}
<div class="text-center">
    <h2 class="text-muted">All Listings</h2>
</div>

{% for listing in listings %}
<div class="card">
    <div class="container">
        <div class="card-body">
            <a href="{{listing.id}}" class="card-link" style="text-decoration: none;color: black;">
                <div>
                    <img class="rounded container__image float-left" src="{{listing.image_url}}" height="200px" />

                    <div class="container__text">
                        <h4 class="card-title text-left"> {{listing.title}}</h4>
                        <p class="card-text text-left" style="overflow-y:hidden;">
                            {{listing.description}} <br>
                            <span class="text-muted font-weight-light">Created: {{listing.added_when}}</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div><br>

{% empty %}
<h3>No Listing Available</h3>
{% endfor %}

{% endblock %}