{% extends "auctions/layout.html" %}


{% block body %}

<!-- When the category is chosen by the user -->
{% if POST %}
<div class="text-center">
  <h2 class="text-muted">Category: <b>{{choosen_category}}</b></h2>
</div>

{% for auction_listing in category_list %}
<div class="card">
  <div class="container">
    <div class="card-body">
      <a href="{{auction_listing.0.id}}" class="card-link" style="text-decoration: none;color: black;">
        <div>
          <img class="rounded container__image float-left" src="{{auction_listing.0.image_url}}" height="200px" />

          <div class="container__text">
            <h4 class="card-title text-left"> {{auction_listing.0.title}}</h4>
            <p class="card-text text-left">
              <b>Current Price:</b> Rs. {{auction_listing.1}} <br>
              {{auction_listing.0.description}} <br>
              <span class="text-muted font-weight-light">Created: {{auction_listing.0.added_when}}</span>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div><br>
{% empty %}
<h3>No Active Listings Available</h3>
<br>
<a href="{% url 'categories' %}">Go back</a>
{% endfor %}


<!-- When the category is not chosen by the user -->
{% else %}
<div class="text-center" style="margin-top: 3%;">
  <h2 class="text-muted">Choose Category</h2>
  <form action="{% url 'categories' %}" method="POST">
    {% csrf_token %}

    <div class="form-group col row" style="margin-top: 20px; margin-bottom: 0;">
      <label for="inputCategory" class="col-sm-2 col-form-label">Category:</label>
      <div class="col-sm-10">
        <select class="form-control" name="category">
          {% for cat in categories %}
          <option value="{{cat}}">{{cat}}</option>
          {% endfor %}
        </select>
      </div>
    </div><br>

    <button class="btn btn-primary">View</button>
  </form>
</div>
{% endif %}
{% endblock %}