{% extends "auctions/layout.html" %}

{% block body %}
{% if error_message %}
<div class="alert alert-danger" role="alert">
    <strong>Error! </strong> {{error_message}}.
</div>
{% endif %}
<!--Title of the page -->
<div class="text-center">
    <h2 class="text-muted">Enter Product Details</h2>

    <form action="{% url 'create_listing' %}" , method="POST">
        {% csrf_token %}
        <!--Title of the product -->
        <div class="form-group col row">
            <label for="inputTitle" class="col-sm-2 col-form-label">Title:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Title">
            </div>
        </div><br>

        <!--Description of the product -->
        <div class="form-group col row">
            <label for="inputDes" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea name="description" class="form-control" id="inputDes" rows="4"
                    placeholder="Product Detail"></textarea>
            </div>
        </div><br>

        <!--Image url of the product -->
        <div class="form-group col row">
            <label for="inputImage" class="col-sm-2 col-form-label">Image Url:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputImage" name="image_url" placeholder="URL">
            </div>
        </div><br>

        <!--Staring Bid of the product -->
        <div class="form-group col row">
            <label for="inputBid" class="col-sm-2 col-form-label">Starting Bid:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="inputBid" name="starting_bid" placeholder="Bid Amount">
            </div>
        </div><br>

        <!--Category of the product -->
        <div class="form-group col row">
            <label for="inputCategory" class="col-sm-2 col-form-label">Category:</label>
            <div class="col-sm-10">
                <select name="category" class="form-control" id="inputCategory">
                    {% for cat in categories%}
                    <option value="{{cat}}">{{cat}}</option>
                    {% endfor %}
                </select>
            </div>
        </div><br>

        <!-- Form Submission -->
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>

{% endblock %}