{% extends "auctions/layout.html" %} {% block body %}
<center>
  <h2 class="text-muted">Active Listings</h2>

</center>


{% for auction_listing in listings%}
<div class="card">
  <div class="card-body">
    <a href="{{auction_listing.id}}" class="card-link" style="text-decoration: none;color: black;">
      <div>
        <div>
          <img class="rounded float-left" src="{{auction_listing.image_url}}" height="280px" width="auto" />
        </div>
        <center>
          <h3 class="card-title text-right"> {{auction_listing.title}}</h3>
          <p class="card-text text-right">
            Created: {{auction_listing.added_when}}
          </p>
        </center>
      </div>
    </a>
  </div>
</div><br>
{% empty %}
<h3>No Listings Available</h3>
{% endfor %}

{% endblock %}