{% extends "auctions/layout.html" %}

{% block body %}
{% if message %}
<!-- Message to display when any user changes something on this page -->
<div class="alert alert-success" role="alert">
    <strong>Success! </strong> {{message}}
</div>
{% elif simple_message and user.is_authenticated %}
<!-- when the user is the one who had done the highest biding -->
{% if request.user.username == max_bidder %}
<div class="alert alert-info" role="alert">
    <strong>Congrats, </strong>You{{simple_message}}!
</div>
<!-- when the message contains won word which means there's someone who won this listing -->
{% elif "won" in simple_message %}
<div class="alert alert-info" role="alert">
    <strong>@{{max_bidder}}</strong> {{simple_message}}
</div>
<!-- otherwise when the biding isn't done by anyone -->
{% else %}
<div class="alert alert-info" role="alert">
    {{simple_message}}
</div>
{% endif %}
{% elif error_message %}
<!-- Error Message -->
<div class="alert alert-danger" role="alert">
    <strong>Error! </strong> {{error_message}}.
</div>
{% endif %}

<!-- Displaying the details of the listing -->
<h2><b>Listing: </b> {{listing.title}}</h2>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card text-center">
            <div class="container">
                <img src="{{listing.image_url}}" style="height: 400px;margin-left: 60px;"
                    class="rounded container__image float-right">
                <br>
            </div>
        </div>
    </div>

    <div class="col-lg-8 col-md-6 col-sm-12">
        <div class="card" style="height: 400px;">
            <div class="card-header text-center">
                <h5> <b>Description</b> </h5>
            </div>
            <div class="card-body">
                <div class="card-text">
                    {{listing.description}} <br> <br>
                    <b>Category:</b> {{listing.category}} <br>
                    <b>Created When:</b> {{listing.added_when}} <br>
                    <b>Created By:</b> {{listing.created_by}} <br>

                    <!-- Watchlist button -->
                    {% if listing not in request.user.watchlist.all %}
                    <form action="watchlist" method="POST">
                        {% csrf_token %}
                        <div class="text-left" style="margin: 10px;margin-left: 0;">
                            <button name="listing" class="btn-secondary btn" value="{{listing.id}}">Add to
                                watchlist</button>
                        </div>
                    </form>
                    {% elif listing in request.user.watchlist.all %}
                    <form action="remove" method="POST">
                        {% csrf_token %}
                        <div class="text-left" style="margin: 10px;margin-left: 0;">
                            <button name="listing" class="btn btn-secondary" value="{{listing.id}}">Remove from
                                watchlist</button>
                        </div>
                    </form>
                    {% endif %}

                    <!-- End listing button -->
                    {% if request.user.username == listing.created_by and listing.active %}
                    <!-- End listing button -->
                    <form action="{{listing.id}}" method="POST">
                        {% csrf_token %}
                        <input name="max_bid_till_now" value="{{max_bid_till_now}}" hidden>
                        <input name="MaxBidderName" value="{{max_bidder}}" hidden>
                        <div class="text-left" style="margin: 10px;margin-left: 0;">
                            <button name="end_listing" class="btn btn-danger">End Listing</button>
                        </div>
                    </form>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</div>


<!-- Biding part --->

<div class="row" style="margin-top: 20px;">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card" style="height: 180px;">
            <div class="card-header text-center">
                <strong>BIDING SECTION</strong>
            </div>
            <div class="card-body">
                <b>Max Bid Till Now: </b> Rs.{{max_bid_till_now}} made by <i>@{{max_bidder}}</i>

                {% if user.is_authenticated and listing.active %}
                <form action="add_bid" method="POST">
                    {% csrf_token %}

                    <div class="form-group col row" style="margin-top: 5px;">
                        <label for="inputBId" class="col-sm-2 col-form-label">Bid:</label>
                        <div class="col-sm-10 text-center">
                            <input type="number" class="form-control" id="inputBid" name="amount"
                                placeholder="Add Your Bid Amount Here">
                            <button name="listing" style="margin-top: 10px;" class="btn btn-primary"
                                value="{{listing.id}}">My Bid</button>
                        </div>
                    </div><br>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-lg-8 col-md-6 col-sm-12">
        <div class="card" style="height: 180px;">
            <div class="card-header text-center">
                <strong>COMMENT SECTION</strong>
            </div>
            <div class="card-body" style="line-height: 75px;">
                <!-- Comments -->
                {% if user.is_authenticated %}
                <form action="add_comment" method="POST">
                    {% csrf_token %}

                    <div class="form-group col row" style="margin-top: 15px;">
                        <label for="inputComment" class="col-sm-2 col-form-label">Comment:</label>
                        <div class="col-sm-10 text-center">
                            <input type="text" class="form-control" id="inputComment" name="comment"
                                placeholder="New Comment">
                            <button name="listing" style="margin-top: 1px;" class="btn btn-primary"
                                value="{{listing.id}}">Add Comment</button>
                        </div>
                    </div><br>
                </form>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-lg-8" style="margin-left: auto; margin-right: auto;">
        <div class="card">
            <div class="card-header text-center">
                <strong>ALL COMMENTS</strong>
            </div>
            <div class="card-body">
                {% for comment in comments %}
                <h4 class="text-center"> <b>{{comment.who_added.username}}</b>
                    <span style="font-size: 15px;" class="text-muted">(on {{comment.when_added}}) </span>
                </h4>

                <p class="text-center">
                    {{comment.description}}
                </p>
                {% empty %}
                <p class="text-center">No Comment Yet :(</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}