{% extends "auctions/layout.html" %}

{% block body %}
<!-- Message to display when any user changes something on this page -->
    {% if message %}
    <div class="alert alert-success" role="alert">
        <strong>Success! </strong> {{message}}.
      </div>
    {% elif error_message %}
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong> {{error_message}}.
      </div>
    {% endif %}

<!-- Displaying the details of the listing -->
    <h1>{{listing.title}}</h1>
    {{listing.description}} <br>
    <img src="{{listing.image_url}}"> <br>
    Category: {{listing.category}} <br>
    Created When: {{listing.added_when}} <br>
    Created By: {{listing.created_by}} <br>

<!-- Doing the biding part --->
    Max Bid Till Now: Rs. {{max_bid_till_now}} made by {{max_bidder}}
    
    {% if user.is_authenticated and listing.active %}
    <form action="add_bid" method="POST">
        {% csrf_token %}
        Enter Bid: (Rs)
        <input type="number" name="amount">
        <button name="listing" value="{{listing.id}}">My Bid</button>
    </form>
    {% endif %}

<!-- End listing button -->    
    {% if request.user.username == listing.created_by and listing.active %}
        <form action="{{listing.id}}" method="POST">
            {% csrf_token %}
            <input type="submit" name="false" value="End listing">    
        </form>    
    {% endif %}

<!-- Wathclist button -->
    {% if listing not in request.user.watchlist.all %}
    <form action="watchlist" method="POST">
        {% csrf_token %}
            <button name="listing" value="{{listing.id}}">Add to watchlist</button> 
    </form>
    {% elif listing in request.user.watchlist.all %}
    <form action="remove" method="POST">
        {% csrf_token %}
            <button name="listing" value="{{listing.id}}">Remove from watchlist</button> 
    </form>
    {% endif %}

<!-- Comments -->
    {% if user.is_authenticated %}
        <form action="add_comment" method="POST">
            {% csrf_token %}
            <input type="text" name="comment" placeholder="Comment..."><br>
            <button name="listing" value="{{listing.id}}">Add Comment</button>
        </form>
    {% endif %}
    
    <h2>All Comments</h2>
    <ul>
        {% for comment in comments %}
            <li> <h4>{{comment.who_added.username}}</h6> {{comment.description}}</li>
        {% empty %}
            <li>No Comment Yet...</li>
        {% endfor %}
    </ul>
{% endblock %}