{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
    <div class="alert alert-success">
        <strong>Success! </strong> {{message}}.
      </div>
    {% endif %}

    <h1>{{listing.title}}</h1>
    {{listing.description}} <br>
    <img src="{{listing.image_url}}"> <br>
    Category: {{listing.category}} <br>
    Created When: {{listing.added_when}} <br>
    Created By: {{listing.created_by}}

    {% if request.user.username == listing.created_by and listing.active %}
        <form action="{{listing.id}}" method="POST">
            {% csrf_token %}
            <input type="submit" name="false" value="End listing">    
        </form>    
    {% endif %}

    {% if listing not in request.user.watchlist.all %}
    <form action="watchlist" method="POST">
        {% csrf_token %}
            <button name="listing" value="{{listing.id}}">Add to watchlist</button> 
    </form>
    {% elif listing in request.user.watchlist.all %}
    <form action="remove" method="POST">
        {% csrf_token %}
            <button name="listing" value="{{listing.id}}">Remove from watchlist</button> 
    </form>
    {% endif %}

    {% if user.is_authenticated %}
        <form action="add_comment" method="POST">
            {% csrf_token %}
            <input type="text" name="comment" placeholder="Comment..."><br>
            <button name="listing" value="{{listing.id}}">Add Comment</button>
        </form>
    {% endif %}
    
    <h2>All Comments</h2>
    <ul>
        {% for comment in comments %}
            <li> <h4>{{comment.who_added.username}}</h6> {{comment.description}}</li>
        {% empty %}
            <li>No Comment Yet...</li>
        {% endfor %}
    </ul>
{% endblock %}